/* Font Family Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Inter", serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Merriweather", serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.paragraph {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* Header Section Style */
header {
    padding-top: 50px;
}

/* Hero Section Style */

.hero-section {
    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../images/hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}

.hero-section-content {
    text-align: center;
    color: #fff;
    width: 60%;
}

.hero-subtitle {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
}

.hero-title {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 25px;
}

/* 65% Off Section Style */
.percent-off {
    margin: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.percent-off-container {
    text-align: center;
}

.percent-off-text {
    color: #ff0000;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    font-family: "Inter", serif;
}

.percent-off-titles-container {
    margin: 40px 0px;
}

.percent-off-subtitle {
    color: #ff0000;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
} 

.percent-off-title {
    color: #070211;
    font-size: 45px;
    font-weight: 700;
    line-height: 58px;
    margin-top: 16px;
}

.percent-off-img {
    width: 410px;
}

.percent-off-img img {
    width: 100%;
}

/* Midnight Party Section Style */
.midnight-party {
    padding: 60px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../images/midnight-party-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.midnight-party-title {
    color: #ffffff;
    font-size: 60px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 3px;
}

.midnight-party-content .paragraph {
    margin: 20px 0px 30px;
}

.midnight-party-btn a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

/* Event Details Section */
.event-details {
    margin: 120px 0px;
    padding: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    border-radius: 16px;
}

.event-details-container {
    text-align: center;
}

.event-place-date-time {
    font-family: "Inter", serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: #070211;
}

.event-place-date-time span {
    color: #ff0000;
}

.event-details-btn {
    background-color: #ff0000;
    color: #fff;
    padding: 16px 32px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 45px;
}

/* Coming Soon Offer Style */
.coming-soon-offer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
}

.coming-soon-offer p.paragraph {
    color: rgba(7, 2, 17, 0.6);
}

.coming-soon-offer-text-one {
    width: 57%;
}

.coming-soon-offer-subtitle {
    color: #ff0000;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.coming-soon-offer-title {
    color: #070211;
    font-size: 42px;
    font-weight: 900;
    line-height: 60px;
    margin: 15px 0px 20px;
}

.coming-soon-offer-img {
    padding: 40px;
    border: 15px solid #ff0000;
    border-radius: 50%;
}

.coming-soon-offer-img img {
    width: 300px;
}

.coming-soon-offer-text-two h4 {
    color: #ff0000;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.coming-soon-offer-text-two p.paragraph {
    margin: 16px 0px 40px;
}